.Portafolio {
    position: absolute;
    align-items: center;
    top: 1800px;
    left: 43%;
}
.Portafolio h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.Portafolio h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(98, 23, 230);
}



.portfolio__container {
    position: relative;
    top: 230px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 900px;
    
}

.portfolio__item {
    background: rgba(98, 23, 230, 0.1);
    padding: 20px;
    
    border-radius: 2rem;
    border: 1px solid white;
    box-shadow: 0 0 3px rgb(96, 18, 155);
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: rgb(235, 230, 230, 0.1);
}

.portfolio__item-image img{
    position: relative;
  
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    height: 80%;
    width: 100%;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  
}

.portfolio__item-cta .btn{
    position: relative;
    border: 3px solid rgb(96, 18, 155);
    border-radius: 5px;
    padding: 10px;
    left: 50px;
    background: transparent;
    color: rgb(98, 23, 230);
}

.portfolio__item-cta .btn:hover{
    background: rgb(239, 232, 232, 0.6);
    color: black;
}

.portfolio__item-cta .btn-primary{
    position: relative;
    background: rgb(98, 23, 230);
    color: black;
}


.portfolio__item-content {
    height: 40%;
}

.portfolio__item-content h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portfolio__item-content p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}