.Contact{
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact h5{
    position: relative;
    top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    
}

.Contact h2{
    position: relative;
    top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(98, 24, 230);
}


.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
} 

.contact__options {
    display: flex;
    flex-direction: column;
    
    gap: 1.9rem;
}

.contact__option {
    position: relative;
    top: 30px;
    width: 200px;
    height: 200px;
    right: 150px;
    background: rgba(98, 23, 230, 0.3);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Agrega la animación de transición */
}

.contact__option:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
    background-color: rgba(98, 23, 230, 0.5); /* Cambia el color de fondo al pasar el cursor */
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}

.contact__option a {
    margin-top: 0.7rem;
    font-size: 1rem;
    position: relative;
    top: 40px;
    color: rgb(94, 4, 250) ;
}

.contact__option h5 {
    color: var(--color-light);
}

.contact__option h4 {
    font-weight: 500;
}

form span {
    font-size: 0.8rem;
}

form {
    position: relative;
    top: 55px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgb(98, 24, 230);
    resize: none;
    color: var(--color-white);
}

h5{
    position: relative;
    text-align: center;
}

h2{
    position: relative;
    text-align: center;
}

.btn-primarys {
    position: relative;
    background: rgb(98, 24, 230);
    padding: 20px;
    border: 1px solid rgb(98, 24, 230);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(196, 192, 192);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn-primarys:hover {
    transform: scale(1.1); 
}
@media screen and (max-width: 1024px){
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
  
@media screen and (max-width: 600px){
    .container.contact__container {
        width: var(--container-width-sm);
    }
}