.Contact{
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact h5{
    position: relative;
    top: 30px;
    
}

.Contact h2{
    position: relative;
    top: 70px;
}


.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
} 

.contact__options {
    display: flex;
    flex-direction: column;
    
    gap: 1.9rem;
}

.contact__option {
    position: relative;
    width: 200px;
    right: 150px;
    background: transparent;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid white;
    transition: var(--transition);
    cursor: pointer;
}

.contact__option:hover {
    background: transparent;
    border-color: white;
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    position: relative;
    top: 500px;
}

.contact__option h5 {
    color: var(--color-light);
}

.contact__option h4 {
    font-weight: 500;
}

form span {
    font-size: 0.8rem;
}

form {
    position: relative;
    top: 55px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgb(98, 24, 230);
    resize: none;
    color: var(--color-white);
}

h5{
    position: relative;
    text-align: center;
}

h2{
    position: relative;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
  
@media screen and (max-width: 600px){
    .container.contact__container {
        width: var(--container-width-sm);
    }
}